.display {
    color: #fff;
    font-size: 4.5rem;
    height: 200px;
    margin-bottom: 20px;
    padding-right: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    white-space: nowrap;
    font-weight: 300;
}